.app-wrapper {
   display: grid;
   width: 1200px;
   margin: 0 auto;
   padding: 50px 0px 50px 0px;
   

   grid-template-areas:
      "h h"
      "n c";

   grid-template-rows: 60px 1fr;
   grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
   grid-area: c;
   background-color: #020101;
   color:white;
   border-radius: 0 0px 30px 0;
}
#root {
   background: linear-gradient(to bottom, #36325d 0%, #251A3A 48.6%, #251A3A 90.62%, #251A3A 10%);
   
}