.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}

.dialogItem {
   padding: 0 0 20px 0;
   color: #fff;
   display: grid;
   grid-template-columns: 50px 1fr;
}

.dialogItem a {
   padding: 6px 0px 0px 0px;
   text-decoration: none;
   color: #fff;
}

.avatar {
   
}
.avatar img {
   width: 35px;
}

.dialogItem .active {
   color: #cc56f3;
}

.messages {
   padding: 10px;
}

.messages .message {
   
}